{% extends 'snippetapp/base.html'%}
{% block body_content %}
{% load custom_tags %}
<table class="table table-bordered table striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Is Single</th>
            <th>Edit</th>
           
        </tr>
    </thead>
    <tbody>
        {%for item in flowerlist%}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.flowername}}</td>
            <td>{{item.flowercolor}}</td>

            <td>{{item.isSingle|expand}}</td>
            <td><a class="btn btn-danger" href="{% url 'editflower' flowerid=item.id %}"></a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}




    
       
  
   
